.main-page {
	background-color: #dfe2e7;
	color: #fff;
	text-align: center;
	padding: 30px;
	margin: 10px;
	margin-top: 100px;
}
.patient-heading {
	background-color: #5995fd;
	color: #fff;
	text-align: center;
	padding: 30px;
	margin: 10px;
}
