.home-head {
	text-shadow: 0 0 3px, 0 0 5px rgb(0, 0, 0);
	color: rgba(255, 255, 255, 0.767);
	font-weight: bold;
}
.footer-div {
	position: relative;
	height: 200px;
	width: 100%;
	background-color: rgba(24, 144, 255, 0.8);
	border-top: 1px solid rgb(255, 255, 255);
}
.my-nav-bar {
	position: fixed;
	top: 0px;
	max-height: 70px;
	width: 100%;
	background: none;
	margin: 0;
	padding: 0;
	background-color: rgba(255, 255, 255, 0.8);
	border-bottom: 2px solid #3f51b5;
	z-index: 999;
}
.my-nav-bar ul {
	color: rgb(0, 0, 0);
	width: 96.5%;
	margin: 1.35%;
	padding-left: 45%;
}
.my-nav-bar ul li {
	color: rgb(0, 0, 0);
	margin-left: 10%;
	display: inline-block;
	font-size: 18px;
}
.checklabel {
	padding: 0;
	margin: 0;
}
.checklabel,
#threebar {
	display: none;
}
.my-nav-bar ul a {
	color: rgb(0, 0, 0);
	cursor: pointer;
	text-transform: uppercase;
}
.my-nav-bar ul a:hover {
	color: rgb(0, 0, 0);
	cursor: pointer;
}
.my-nav-bar ul li:active,
.my-nav-bar ul a:active {
	color: red;
}
